{% extends 'Base/Base.html' %}
{% load static %}
{% block body %}
    <div class="w-full">
        <div class="mt-5 bg-white rounded-xl">
            <div class="p-5 text-center text-4xl italic font-extrabold mb-4">
                Crear Convenio
            </div>

            <!--Mensajes -->
            {% if messages %}
                {% for m in messages %}
                    {% if m.tags == 'error' %}
                        <p class="text-3xl">{{ m }}</p>
                    {% endif %}
                    {% if m.tags == 'success' %}
                        <p class="text-3xl">{{ m }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <!-- Formulario -->
            <div class="flex justify-center items-center">
                <form action="" method="post" class="">
                    {% csrf_token %}
                    <div class="grid grid-cols-3 gap-4 border-2 border-red-300 rounded-lg p-4">
                        <div class="">
                            <label for="" class="label">{{ form.conv_numero.label }}</label>
                            <input type="text" id="" name="" value=""
                                   class="input">
                        </div>
                        <div class="col-span-2 w-full">
                            <label for="" class="label">{{ form.conv_organizacion.label }} </label>
                            <input type="text" class="input">

                        </div>
                        <div class="">
                            <label for="" class="label">{{ form.conv_email.label }}</label>
                            <input type="text" class="input">
                        </div>
                        <div class="">
                            <label for="" class="label">{{ form.conv_telefono.label }}</label>
                            <input type="text" class="input">
                        </div>
                        <div class="">
                            <label for="" class="label">Dirección *</label>
                            <input type="text" class="input">
                        </div>

                        <div class="">
                            <label for="" class="label">{{ form.conv_supervisor.label }}</label>
                            <input type="text" class="input">
                        </div>
                        <div class="">
                            <label for="" class="label">{{ form.conv_email.label }}</label>
                            <input type="text" class="input">
                        </div>
                        <div class="">
                            <label for="" class="label">{{ form.conv_telefono.label }}</label>
                            <input type="text" class="input">
                        </div>
                        <div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}