{% load static %}
<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {{ page_title }} | Proyección</title>
    <link rel="icon" href="{% static 'image/Ut.fw.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!--Icons-->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>

</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

    * {
        font-family: 'Montserrat', sans-serif;
    }
</style>

<body class="bg-gray-100">
    <div class="w-full lg:w-auto">
        <div class="container w-full mx-auto bg-white rounded-xl mt-2">
            <nav class="flex justify-around p-4">
                <div class="flex justify-center items-center cursor-pointer">
                    <span class="text-2xl font-semibold hover:font-extrabold flex hover:text-red-500 duration-200">
                        <img src="{% static 'image/Ut.fw.png' %}" alt="">
                        Proyección Social
                    </span>
                </div>
                <div class="flex justify-center items-center">
                    <ul class="flex space-x-10 text-md font-medium uppercase">
                        <li class="link">
                            <a href="{% url 'Inicio' %}" class="relative group">
                                Inicio &nbsp;
                                <i class="fi fi-rr-home"></i>
                                <div
                                    class="w-full bg-black h-[1px] scale-x-0  group-hover:scale-x-100 transition-transform">
                                </div>
                            </a>
                        </li>
                        <li class="link">
                            <a href="{% url 'InicioConvenios' %}" class="relative group">
                                Convenios &nbsp;
                                <i class="fi fi-rr-document-signed"></i>
                                <div
                                    class="w-full bg-black h-[1px] scale-x-0  group-hover:scale-x-100 transition-transform">
                                </div>
                            </a>
                        </li>
                        <li class="link">
                            <a href="" class=" relative group"> Proyectos &nbsp;
                                <i class="fi fi-rr-document"></i>
                                <div
                                    class="w-full bg-black h-[1px] scale-x-0  group-hover:scale-x-100 transition-transform">
                                </div>
                            </a>
                        </li>
                        <li class="link">
                            <a href="" class=" relative group"> Reportes &nbsp;
                                <i class="fi fi-rr-chart-pie-alt"></i>
                                <div
                                    class="w-full bg-black h-[1px] scale-x-0  group-hover:scale-x-100 transition-transform">
                                </div>
                            </a>
                        </li>
                        <li class="link">
                            <a href="" class=" relative group"> Historial &nbsp;
                                <i class="fi fi-rr-box"></i>
                                <div
                                    class="w-full bg-black h-[1px] scale-x-0  group-hover:scale-x-100 transition-transform">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="flex justify-center items-center duration-300 ">
                    <button
                        class="bg-red-500 text-white p-3 rounded-full hover:shadow-lg hover:shadow-red-500 duration-300">
                        Iniciar sesion &nbsp;
                        <i class="fi fi-rr-user"></i>
                    </button>
                </div>
            </nav>

        </div>
    </div>
    <div class="container w-full mx-auto">
        {% block body %}

        {% endblock %}
    </div>
    <script src="https://kit.fontawesome.com/e30e9ea753.js" crossorigin="anonymous"></script>
</body>

</html>